body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0044cc;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 10px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0044cc;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    
}

footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styling for the event section */
section h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
}


div {
    display: flex;
    justify-content: center;
    align-items: center;
}